# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo


# node
node_modules
package-lock.json
# pnpm-lock.yaml

# build
**/build
dist

# tmp
**/*temp**.ts
**/*.bak
**/*.new
**/examples.ts
# **/test.js
**/*test*.*
**/*bak.*
# ts 编译的 js
src/**/*.js