name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  autofix:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22.20.0
          cache: pnpm
      - run: pnpm install
      - run: pnpm run lint:fix
      - uses: autofix-ci/action@main
