name: Build

on:
  workflow_call:

permissions:
  contents: write

env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main

      - name: Cache dist
        uses: actions/cache@v5
        env:
          cache-name: cache-dist
        with:
          path: dist
          key: ${{ env.cache-name }}-${{ runner.os }}-${{ github.run_id }}
          restore-keys: |
            ${{ env.cache-name }}-${{ runner.os }}
            ${{ env.cache-name }}

      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_GITHUB_TOKEN_NORTHWORD_GHOST }}
        run: |
          pnpm build

      - name: Upload Output
        uses: actions/upload-artifact@v5
        with:
          path: dist
          retention-days: 3
